Atempt2/checkpoints/
__pycache__/
*.pyc
Vision/data/

frontend/node_modules

# Audio
*.wav
*.mp4

# Dataset
*.csv
data/
audio/
converted_*.wav
*.safetensors
*.pt
*.onnx

# Environment variables
.env.local
.env


*.ps1
*.cmd


cloudflared.exe
.understand-anything/
node_modules/
*.yaml
*.json